name: domjudge-ci
services:
  domjudge-ci:
    image: domjudge/gitlabci:24.04
    volumes:
      - type: bind
        source: /home/jaap/domjudge/git/domjudge
        target: /opt/domjudge
    ports:
      - 12345:80
    privileged: true
    working_dir: ${PWD}
    environment:
      - PROJECT_DIR=${PWD}
  sqlserver:
    image: mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=mysql_root_password
    ports:
      # Useful to connect a local MySQL client / GUI
      - 127.0.0.1:13306:3306
    command: --max-connections=1000 --max-allowed-packet=512M --innodb_snapshot_isolation=OFF
